.Home .content {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.Home .vehicles_list {
  display: grid;
  justify-content: center;
  width: 90%;
}

.Home .pagination {
  margin: 2%;
  display: flex;
  justify-content: center;
}